.page-section {
  text-align: left;

  .movie-list {
    font-size: 0;
    padding: 2rem 0 3rem 0;

    .movie-item {
      position: relative;
      display: inline-block;
      width: calc(~'50% - .3rem');
      border-radius: .2rem;
      overflow: hidden;
      margin: .2rem;

      .movie-star {
        position: absolute;
        width: 3rem;
        height: 3rem;
        right: -24px;
        top: -24px;
        background: #ff7e00;
        transform: rotate(45deg);
      }

      .score {
        position: absolute;
        transform: rotate(315deg);
        bottom: 2px;
        left: 17px;
        font-size: .7rem;
        color: #fff;
      }

      .movie-image {
        width: 100%;
      }

      .movie-name {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2rem;
        font-size: 0.7rem;
        color: #fff;
        background-color: rgba(109, 108, 108, 0.9);
        line-height: 2rem;
        text-indent: .5rem;
      }

    }

    .movie-item:nth-child(2n-1) {
      top: -2rem;
      margin-right: 0;
    }

  }

  .bottom-tab {
    position: fixed;
    height: 3rem;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    font-size: 0;

    .category-select {
      display: inline-block;
      width: 50%;
      font-size: .8rem;
      line-height: 3rem;
      text-align: center;
    }

    .active {
      background-color: rgba(255, 99, 7, 0.76);
      color: #fff;
    }

  }

  /********************详情页面***********************/
  .movie-preview-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    .movie-subject {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: 0% 0%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2506694509.webp');
      background-color: #340e11;
      filter: blur(1rem);
    }

  }

  .movie-synopsis {
    padding: .5rem;
    font-size: .5rem;
    line-height: 1.2rem;
    color: #1e1e1e;
    overflow: hidden;
    background-color: #fff;
  }

  .icon-chevron-thin-up {
    height: 1.5rem;
    background: #fff;
    line-height: 1.5rem;
    text-align: center;
    font-size: .9rem;
    cursor: pointer;

    &.show-more {
      transform: rotate(180deg);
    }

  }

}