/* 公共样式  */
html {
  overflow: auto;
}
body {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

body, div, h1, h2, h3, h4, p, ul, ol, form, dl, dt, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* 全局通用的 router-view 过渡效果 */
.fade-transition {
  transition: opacity .1s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

/* 单行省略 */
.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/* 不可选中 */
.unselected {
  user-select: none;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hide {
  display: none;
}
